{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}AssistHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/device_list.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

<!-- NAVBAR (ONLY ONCE HERE) -->
<nav class="navbar">

    <div class="logo-area">
        <img src="{% static 'images/assisthublogo.png' %}" class="nav-logo">
        <span class="brand-name">AssistHub</span>
    </div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'device_list' %}">Devices</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</nav>

<!-- PAGE CONTENT -->
{% block content %}
{% endblock %}

</body>
</html>