/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Segoe UI",sans-serif;
    background:#F5F8FC;
    color:#233044;
}

/* NAVBAR */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;   /* important so it doesn’t overflow visually */
}


.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#233044;
    font-weight:600;
    transition:0.3s;
}

.nav-links a:hover{
    color:#2D6CDF;
}

/* HERO */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:15px;
}

.hero p{
    color:#6B7280;
    font-size:18px;
}

/* DEVICE GRID */

.device-container{
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;

    padding:20px 40px 80px;
}

/* CARD */

.device-card{
    background:white;
    border-radius:20px;
    overflow:hidden;

    box-shadow:0 6px 18px rgba(0,0,0,0.08);

    transition:0.3s;
}

.device-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.device-card img{
    width:100%;
    height:400px;
    object-fit:cover;
}

.card-content{
    padding:25px;
}

.card-content h2{
    margin-bottom:10px;
}

/* CATEGORY TAG */

.category{
    display:inline-block;

    background:#E7F0FF;
    color:#2D6CDF;

    padding:8px 14px;
    border-radius:20px;

    font-size:14px;
    font-weight:600;

    margin-bottom:15px;
}

/* DESCRIPTION */

.card-content p{
    color:#555;
    line-height:1.6;
    margin-bottom:20px;
}

/* PRICE */

.price{
    font-size:24px;
    font-weight:700;
    color:#2D6CDF;

    margin-bottom:20px;
}

/* BUTTON */

.view-btn{
    width:100%;

    background:#2D6CDF;
    color:white;

    border:none;
    padding:14px;

    border-radius:12px;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.view-btn:hover{
    background:#1F55B5;
}
.logo-area {
    display: flex;
    align-items: center;
    gap: 8px;
}
.brand-name {
    font-size: 20px;
    font-weight: 600;
    color: #233044;
}
.nav-logo {
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
    display: block;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;
    height: 70px;
}