{% extends "base.html" %}
{% load static %}

{% block title %}Assistive Devices{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/device_list.css' %}">
{% endblock %}

{% block content %}

<section class="hero">
    <h1>Assistive Devices</h1>
    <p>Explore technology designed to improve accessibility and independence.</p>
</section>

<div class="device-container">

    {% for device in devices %}

    <div class="device-card">

        {% if device.image %}
            <img src="{{ device.image.url }}" alt="{{ device.name }}">
        {% endif %}

        <div class="card-content">
            <h2>{{ device.name }}</h2>

            <span class="category">
                {{ device.category }}
            </span>

            <p>{{ device.description }}</p>

            <div class="price">
                ₹{{ device.price }}
            </div>
            <p>⭐ {{ device.average_rating }}</p>
            <a href="{% url 'device_detail' device.id %}" class="view-btn">
                View Details
            </a>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}