{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
Log In
{% endblock %}

{% block content %}

<div class="login-wrapper">

    <div class="login-card">

        <div class="logo-header">

            <img src="{% static 'images/assisthublogo.png' %}"
                 alt="AssistHub Logo"
                 class="logo">

            <div>

                <h1>AssistHub</h1>

                <p class="subtitle">
                    Sign in to continue
                </p>

            </div>

        </div>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Log In">

        </form>

        <p class="register-text">

            Don't have an account?

            <a href="{% url 'register' %}">
                Create one
            </a>

        </p>

    </div>

</div>

{% endblock %}