{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
Log-in
{% endblock %}

{% block content %}

<div class="login-wrapper">

<div class="login-card">

<div class="logo-header">

<img
src="{% static 'images/assisthublogo.png' %}"
alt="AssistHub Logo"
class="logo">

<h1>AssistHub</h1>

</div>

<p class="subtitle">
Please use the following form to log in
</p>

<form method="post">

{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Log in">

</form>

<p class="register-text">
    Don't have an account?
    <a href="{% url 'register' %}">
        Register here
    </a>
</p>

</div>

</div>

{% endblock %}
